
.profile_pic{
    width: 400px ;
    border-radius: 50%;
}
.aboutme{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.introduction{
    width: 800px;
}
.intro_hi{
    margin-bottom: 20px;
    color: black;
}
h2{
    font-size: 30px;
}
.intro_content{
    font-size: 18;
}
.intro_sns{
    margin: 10px auto;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.intro_sns li button{
    width: 45px;
    font-size: 35px;
}
.aboutme_edu{
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #CCC1BD;
    color: black;
}
.edu_content{
margin-top: 20px;
}

.edu_schoollist{
    display: inline-block;  
}
.edu_school p{
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
    
}
.edu_three_activity{
    text-align: left;
}
/* 반응형 */
/* 태블릿 */
@media (max-width: 1024px) {
 .aboutme{
    display: block;
 }
 .profile_pic{
    width: 400px;
    margin: 0 auto;
 }
 .introduction{
    width: 100%;
    margin: 20px auto;
    padding: 0 20px;
 }
 .intro_sns{
    margin: 30px auto;
}

.edu_school p{
    font-size: 20px;
}
}
/* 모바일 */
@media (max-width: 768px) {
    .profile_pic{
    max-width: 100%;
}
    h1{
        font-size: 30px;
    }
    .intro_content{
    font-size: 15px;
}
.intro_sns li button{
    font-size: 25px;
}
.aboutme_edu li h2{
    font-size: 20px;
}
  .edu_content{
    display: flex; 
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    gap: 5px;
    
}
.edu_school p{
    font-size: 15px;
}

.edu_three_activity{
    font-size: 11px;
    margin: 1px 0;
}
}
@media (max-width: 320px) {
     .profile_pic{
    max-width: 90%;
}
    h1{
        font-size: 23px;
    }
    .intro_content{
    font-size: 14px;
}
.edu_schoollist{
    width: 100%;
}
.edu_school p {
    font-size: 12px;
    font-weight: 500;
}
.edu_three_activity{
    font-size: 11px;
}
}
