.research_content{
    margin-top: 160px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid #CCC1BD;
}
h2{
    font-size: 30px;
    color: black;
}
.research_img{
    width: 400px;
    margin: 20px auto;
}
@media (max-width: 768px) {
  .research_content{
    margin-top: 100px;
}
    .research_content h2{
        font-size: 20px;
    }
    .research_content p{
        font-size: 12px;
    }
.research_img{
    width: 90%;
}
}