.toggle_container{
    background-color: #ccc;
    width: 90px;
    height: 40px;
    border-radius: 30px;
    position: relative;
}
.toggle_container.on{
    background-color:#4da6ff;
}
.toggle_switch{
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s, background-color 0.3s;
    font-size: 12px;
}
.toggle_container.on .toggle_switch{
    left:52px;
}
@media (max-width: 768px) {
  .toggle_container{
    width: 36px;
    height: 17px;
}
.header_button{
    padding-top: 10px;
}
.toggle_switch{
    width: 13px;
    height: 13px;
    top: 2px;
    left: 2px;
    transition: left 0.3s, background-color 0.3s;
    font-size: 5px;
}
.toggle_container.on .toggle_switch{
    left:20px;
}
}