.toggle_container{
    background-color: #ccc;
    width: 90px;
    height: 40px;
    border-radius: 30px;
    position: relative;
}
.toggle_container.on{
    background-color:#4da6ff;
}
.toggle_switch{
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s, background-color 0.3s;
    font-size: 12px;
}
.toggle_container.on .toggle_switch{
    left:52px;
}